In [4]:
import pandas as pd

In [7]:
path_data="../../crawl_data/data/youtube_data.csv"

In [8]:
df=pd.read_csv(path_data)
df

,Likes,Dislikes,Views,Comments
0,153573,43938,14383262,"['2 thằng này khá ^^', 'Cũng vừa làm việc xong..."
1,18596,417,1481505,['Karaoke Phù Dung nhé cả nhà: https://youtu.b...